DATABASE_URL="file:./dev.db"
JWT_SECRET="your-secret-key-min-32-chars-change-in-production"
NEXT_PUBLIC_API_URL="http://localhost:3000"
ADMIN_EMAIL="admin@example.com"
SMTP_URL=""
SMTP_USER=""
SMTP_PASS=""
RECAPTCHA_SECRET=""
SENTRY_DSN=""
